@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}

body{
	background:#fff;
	font-family:"Poppins","Spoqa Han Sans Neo", sans-serif;
	font-size:12px;
	color:#5b5b5b;
	line-height:100%;
	font-weight:normal;
	padding:0px;
	margin:0px;
	letter-spacing:-0px;
}

html, body{
	width:100%;
	height:100%;
	letter-spacing:0px;
	background-color:#faf9f5;
}

div, p, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, h6, dt, dl, dd, em, sup {
	padding:0px;
	margin:0px;
}

ul, ol, dl, dd, dt, li {
	list-style-type:none;
	margin:0;
	padding:0px;
	line-height:100%;
	font-size:12px;
	color:#5b5b5b;
	letter-spacing:0px;
}

form, fieldset, p{
	margin:0;
	padding:0;
	border:0;
}

img{
	border:0;
	vertical-align:middle;
	outline:none;
	margin:0;
	padding:0;
}

table{
	border-collapse : collapse;
}

a,a:link,a:visited,a:active{
	color:black;
	letter-spacing:normal;
	text-decoration:none;
	letter-spacing:-0.8px;
}

a:hover{
	color:black;
	text-decoration:none;
}

*{line-height:20px;}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

.container{
	width:1300px;
	margin: 0 auto;
}

.container_small{
	width:990px;
	margin: 0 auto;
}

/* 상단 헤더 */
.header_banner{
	background-color:#F63805;
	text-align:center;
	font-size:16px;
	padding:12px;
}

.header_banner a{
	color:#fff;
}

.header_banner i{
	margin-left:20px;
}

.main_logo{
	text-align:center;
	font-size:55px;
	padding:60px 0 0;
	margin:0 auto -5px;
}

.main_logo a{
	color:/* #131313; */  #F63805;
	font-weight:600;
}

.main_menu_left{
	float:left;
}

.main_menu_left .gnb{
	padding:15px 50px;
	background-color:#fff;
	border-radius:30px;
	margin-top:10px;
}

.main_menu_left .gnb li{
	display:inline-block;
	font-size:17px;
}

.main_menu_left .gnb li + li{
	margin-left:30px;
}

.main_menu_left .gnb li a:hover{
	color:#F63805;
}

.main_menu_right{
	float:right;
}

.search{
	border:1px solid rgba(0,0,0,0.2);
	background-color:#faf9f5;
	border-radius:40px;
	display:inline-block;
	vertical-align:middle;
	margin:10px 10px 0px 0px;
}

.top_search_box{
	position:relative;
}

.top_search_text{
	width:290px;
}

.top_search_text_box{
	width:100%;
	height:45px;
	padding:0 50px 0 20px;
	box-sizing:border-box;
	background:none;
}

.top_search_text input{
	border:none 0;
	vertical-align:top;
}

.top_search_text input:focus{
	outline:none;
}

.search_btn{
	position:absolute;
	top:0px;
	right:0px;
	width:50px;
	height:100%;
	padding:13px 20px 12px 10px;
	background:none;
	border:none 0;
	cursor:pointer;
	font-size:17px;
}

.info_menu{
	display:inline-block;
	vertical-align:middle;
	margin-right:-9px;
	margin-top:10px;
}

.info_menu li{
	display:inline-block;
	vertical-align:top;
}

.info_menu a{
	display:block;
	text-align:center;
	font-size:12px;
	padding:0 9px;
}

.info_menu i{
	display:block;
	margin:0 0 4px;
	position:relative;
	font-size:30px;
}
/* 상단 헤더 */
/* 메인 영역 */
.main_slider{
	padding:100px 0 82px;
}

.slick_slider{
	width:100%;
}

.slider-banner-511517418 img{
	width:100%;
	height:500px;
	border-radius:150px 150px 0px 0px;
}

.main_content_one{
	background-color:#fff;
	padding:85px 0px 85px 0px;
}

.content_one_title{
	text-align:center;
}

.content_one_title h2{
	font-size:38px;
	font-weight:500;
	color:#000000;
}

.content_one_title p{
	font-size:20px;
	color:#636363;
	margin-top:25px;
}

.content_one_box{
	margin-top:30px;
	position:relative;
}

.content_one_box li{
	display:inline-block;	
	margin:20px 10px 0px 10px;
	position:relative;
}

.content_one_box img{
	width:405px;
	height:300px;
	border-radius:10px;
}

.content_one_box_text{
	top:45%;
	left:20%;
	position:absolute;
	text-align:center;
}

.content_one_box_text span{
	color:#fff;
	font-size:30px;
}

.content_one_box_text p{
	color:#fff;
	font-size:17px;
	margin-top:10px;
	opacity:.9;
}

.main_content_two{
	padding:85px 0px 85px 0px;
}

.content_two_box{
	margin-top:30px;
}

.content_two_box li{
	display:inline-block;
	margin:20px 10px 0px 10px;
	background-color:#fff;
	border-radius:10px;
}

.content_two_box img{
	width:330px;
	border-radius:10px 0px 0px 10px;
}

.two_box_img{
	float:left;
}

.two_box_text{
	float:left;
	padding:20px;
}

.two_box_text img{
	width:50px;
	height:50px;
	border-radius:100px;
	margin-right:5px;
}

.two_box_text span{
	font-size:15px;
	color:#F63805;
	font-weight:500;
}

.two_box_text h6{
	font-size:20px;
	color:#000000;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
	width:258px;
	margin-top:30px;
}

.two_box_text p{
	font-size:16px;
	color:#656565;
	width:250px;
	margin-top:15px;
	
	display: inline-block; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	
	white-space: normal; 
	line-height: 1.2; 
	height: 3.6em; 
	text-align: left; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp:3; 
	-webkit-box-orient: vertical;
}

.editor_story_more_btn{
	text-align:center;
}

.editor_story_more_btn button{
	background-color:#F63805;
	color:#fff;
	border:1px solid #F63805;
	width:220px;
	height:45px;
	border-radius:100px;
	margin-top:30px;
	font-size:16px;
	line-height:45px;
	cursor:pointer;
}

.main_content_three{
	background-color:#fff;
	padding:55px 0px 55px 0px;
}

.main_banner img{
	border-radius:10px;
}

.main_content_four{
	padding-top:85px;
}

.main_review_slider{
	margin-top:30px;
}

.main_review_slider .review_content_box{
	display:inline-block;
	margin:20px 10px 0px 10px;
	background-color:#fff;
	border-radius:10px;
	padding:20px ;
	height:220px;
}

.four_box_nickname_text img{
	width:50px;
	height:50px;
	border-radius:100px;
	margin-right:5px;
	display:inline-block;
}

.four_box_nickname_text span{
	display:inline-block;
	font-size:15px;
	color:#F63805;
	font-weight:500;
}

.four_box_content_text p{
	font-size:16px;
	color:#656565;
	width:265px;
	margin-top:40px;
	
	display: inline-block; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	
	white-space: normal; 
	line-height: 1.2; 
	height: 6.0em; 
	text-align: left; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp:5; 
	-webkit-box-orient: vertical;
}
/* 메인 영역 */ 
/* 푸터 영역 */
#footer_wrap{
	background-color:#282c2f;
	padding:85px 0px 75px 0px;
	margin-top:85px;
}

.footer_info{
	position:relative;
	padding:40px 0px 40px 0px;
}

.footer_logo a{
	color:/* #131313 */#fff;
	font-size:35px;
	font-weight:700;
}

.footer_address{
	margin:30px 50px 0px 0px;
}

.footer_address p{
	color:#E5E5E580;
	font-size:15px;
	margin:7px 0;
}

.footer_address span{
	color:#ffffff26;
	font-size:12px;
}

.footer_info:before{
	content:'';
	position:absolute;
	left:450px;
	top:0px;
	width:2px;
	height:100%;
	background:#ffffff26;
}

.footer_sitmap a{
	color:#E5E5E580;
}

.footer_customer{
	float:left;
	margin:-130px 0px 0px 530px;
	font-weight:500;
}

.footer_customer p{
	font-size:20px;
	color:#fff;
}

.footer_customer span{
	font-size:15px;
	color:#E5E5E580;
	display:block;
	margin:7px 0;
}

.customer_content{
	margin-top:35px;
}

.footer_sitmap{
	float:left;
	margin:-136px 0px 0px 850px;
	font-weight:500;
}

.footer_sitmap p{
	font-size:20px;
	color:#fff;
}

.sitemap_content>ul>li{
	font-size:15px;
	color:#E5E5E580;
	display:block;
	margin-bottom:7px;
	display:inline-block;
}

.sitemap_content>ul>li:nth-child(2){margin-left:30px;}

.sitemap_one{
	margin-top:35px;
}

.sitemap_one>ul>li{
	font-size:15px;
	color:#E5E5E580;
	display:block;
	margin-bottom:7px;
}

.sitemap_two{
	margin-top:10px;
}

.footer_sitmap a{
	color:#E5E5E580;
}

.footer_notice{
	float:left;
	margin:-145px 0px 0px 1100px;
	font-weight:500;
}

.footer_notice p{
	font-size:20px;
	color:#fff;
}

.footer_notice span{
	font-size:15px;
	color:#E5E5E580;
	display:block;
	margin:10px 0;
}

.notice_content{
	margin-top:35px;
}

.footer_notice a{
	color:#E5E5E580;
}
/* 푸터 영역 */
/* 로그인 영역 */
#login_wrap{
	border-top:1px solid #dddbd8;
	margin-top:85px;
	text-align:center;
}

.login_all_box{
	width:100%;
	width:380px;
	margin:0 auto;
	padding:0 20px;
	margin-bottom:180px;
}

.login_form_box input{
	width:100%;
	height:45px;
	line-height:45px;
	border:1px solid #ccc;
	border-radius:22px;
	background:transparent;
	margin-bottom:10px;
	padding:0 20px;
	box-sizing: border-box;
}

.login_form_box input:focus{
	outline:none;
}

.login_all_btn button{
	width:380px;
	height:45px;
	border:1px solid #F63805;
	border-radius:22px;
	font-size:15px;
	font-weight:600;
	line-height:45px;
	cursor:pointer;
}

.login_all_btn .login_nomal_btn{
	background-color:#F63805;
	color:#fff;
}

.login_all_btn .login_join_btn{
	background:transparent;
	color:#F63805;
	margin-top:10px;
}

.login_plus_btn{
	margin-top:15px;	
}

.login_plus_btn li{
	position:relative;
	display:inline-block;
	padding:0 8px;
}

.login_plus_btn li button{
	font-size:15px;
	font-weight:600;
	border:none;
	color:#3c3c3c;
	background:transparent;
	cursor:pointer;
}

.login_plus_btn ul li:not(:last-child):before {
	content:''; 
	position:absolute; 
	top:4px; 
	right:-2px; 
	width:1px; 
	height:13px; 
	background:#c6c6c6;
}

.sns{
	margin-bottom:120px;
}

.sns_title{
	margin-top:50px;
	font-size:16px;
	color:#3c3c3c;
}

.sns_icons{
	margin-left:70px;
}

.sns_icons a{
	float:left;
	display:flex;
	width:60px;
	height:60px;
	border-radius:50%;
	cursor:pointer;
	-webkit-box-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	align-items:center;	
	margin:30px 10px;
}

.sns_icons img{
	width:42px;
	height:42px;
}

.sns_icons .sns_naver{
	background-color:rgb(30, 200, 0);
}

.sns_icons .sns_kakao{
	background-color:rgb(249, 224, 0);
}

.sns_icons .sns_google{
	background-color:rgb(255, 255, 255); /* 248,249,253 */
}
/* 로그인 영역 */	 
/* 회원가입 영역 */
#join_wrap{
	border-top:1px solid #dddbd8;
	margin-top:85px;
	text-align:center;
}

.top_sub_title h2{
	margin:122px 0px 65px 0px;
	font-size:46px;
	color:#3c3c3c;
}

.join_all_btn button{
	width:380px;
	height:45px;
	border:1px solid #F63805;
	border-radius:22px;
	font-size:15px;
	font-weight:600;
	line-height:45px;
	cursor:pointer;
}

.join_all_btn .join_ok_btn{
	background-color:#F63805;
	color:#fff;
}

.join_all_box{
	width:100%;
	width:420px;
	margin:0 auto;
	padding:0 20px;
}

.sns_guide{
	font-size:14px;
	color:#3c3c3c;
}

#join_form_wrap, #request_form_wrap, #admin_mypage_form_wrap, #food_list_wrap{
	border-top:1px solid #dddbd8;
	margin-top:85px;
}

.join_form_all_box, .request_form_all_box, .admin_mypage_form_all_box{
	width:100%;
	max-width:990px;
	padding:0 30px;
}

.top_sub_title{
	text-align:center;
}

.from_content_box .form_sub_title{
	width:100%;
	padding:0 0 18px;
	margin:0 0 40px;
	border-bottom:1px solid #000;
}

.from_content_box .form_sub_title h2{
	font-size:32px;
	font-weight:600;
	color:#000;
}

.from_content_box .form_sub_title span{
	font-size:16px;
	margin-left:20px;
	color:#696969;
	font-weight:500;
}

.from_content_box .form_content .form_tb_all{
	text-align:left;
}

.from_content_box .form_content .form_tb_all span{
	color:#F63805;
	margin-right:10px;
}

.from_content_box .form_content .form_tb_all tr th{
	width:160px;
	vertical-align:top;
	padding:25px 10px 0px 10px;
	font-size:15px;
	font-weight:500;
	color:#000;
}

.from_content_box .form_content .form_tb_all td{
	padding:15px 0 15px 15px;
}
.from_content_box .form_content .form_tb_all input{
	border-radius:22px;
	background:transparent;
	color:#696969;
	width:357px;
	height:47px;
	line-height:47px;
	border:1px solid rgba(0,0,0,.2);
	padding:0 20px;
	box-sizing:border-box;
	color:#000000;
}

.from_content_box .form_content .form_tb_all input:focus{
	outline:none;
}

.from_content_box .form_content .form_tb_all .all_mail_choice{
	border-radius:22px;
	background:transparent;
	color:#696969;
	width:170px;
	height:47px;
	line-height:47px;
	border:1px solid rgba(0,0,0,.2);
	padding:0 20px;
	box-sizing:border-box;
	margin-left:15px;
}

.from_content_box .form_content .form_tb_all button{
	border-radius:22px;
	background:transparent;
	color:#696969;
	width:170px;
	height:47px;
	line-height:47px;
	border:1px solid #000;
	padding:0 20px;
	box-sizing:border-box;
	margin-left:15px;
	color:#000;
	cursor:pointer;
}

.from_content_box .form_content .form_tb_all p{
	color:#F63805;
	font-size:15px;
	margin-top:5px;
}

.from_content_box .form_content{
	border-bottom:1px solid rgba(000,000,000,.2);
	padding-bottom:32px;
}

.form_all_btn .btn_cancle, .food_detail_back_btn button{
	width:220px;
	height:55px;
	border:1px solid #F63805;
	background:transparent;
	border-radius:28px;
	color:#F63805;
	font-weight:600;
	font-size:16px;
	line-height:55px;
	cursor:pointer;
}

.form_all_btn .btn_confirm{
	width:220px;
	height:55px;
	border:1px solid #F63805;
	background:#F63805;
	border-radius:28px;
	color:#fff;
	font-weight:600;
	font-size:16px;
	line-height:55px;
	cursor:pointer;
	margin-left:20px;
}

.form_all_btn{
	margin:35px 0 0 0;
	text-align:center;
}

#success_top{
	margin-top:30px;
}

.join_form_all_box .success_guide{
	padding-top:45px;
}

.success_content{
	text-align:center;
	color:#000;
	border-top:1px solid #000;
	padding:0 0 40px;
	border-bottom:1px solid rgba(000,000,000,.2);
}

.success_content i{
	font-size:40px;
	margin:40px 0 20px 0;
}

.success_content p{
	font-size:27px;
	margin:10px 0 25px 0;
	font-weight:500;
}

.success_content_btn{
	text-align:center;
	margin-top:40px;
}

.success_content_btn .success_home_btn{
	width:220px;
	height:55px;
	border:1px solid #F63805;
	background:transparent;
	border-radius:28px;
	color:#F63805;
	font-weight:600;
	font-size:16px;
	line-height:55px;
	cursor:pointer;
}

.success_content_btn .success_login_btn, .btn_confirm{
	width:220px;
	height:55px;
	border:1px solid #F63805;
	background:#F63805;
	border-radius:28px;
	color:#fff;
	font-weight:600;
	font-size:16px;
	line-height:55px;
	cursor:pointer;
	margin-left:20px;
}

#small_point_text{
	font-size:14px;
	color:#868686;
}
/* 회원가입 영역 */

/* 맛집리스트 영역 */
.sub_tab_menu{
	text-align:center;
}

.sub_tab_menu_list li{
	display:inline-block;
	padding:13px;
	font-size:17px;
	cursor:pointer;
	background-color:#fff;
	border-radius:30px;
	margin:0 10px 0 10px;
	width:75px;
}

.sub_tab_menu_list li a{
	display:block;
	width:75px;
}

.sub_tab_menu_list li:hover{
	background-color:#F63805;
	transition:all 0.5s ease;
}

.sub_tab_menu_list li a:hover{
	color:#fff;
}

#action{
	background-color:#F63805;
}

#action a{
	color:#fff;
	font-weight:600;
	display:block;
}

.all_food_list{
	margin-top:40px;
}

.food_block_content{
	display:inline-block;
	background-color:#fff;
	margin:10px;
	border-radius:10px;
	width:410px;
	background-size:corver;
}

.food_block_content img{
	border-radius:10px 10px 0px 0px;
	width:100%;
	height:292px;
	object-fit:cover;
}

.food_block_text{
	padding:25px;
}

.food_block_text h3{
	font-weight:500;
	font-size:20px;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
}

.food_block_text p{
	font-size:14px;
	margin-top:10px;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
}

.food_block_content_not_fount{
	padding-top:40px;
	text-align:center;
}

.food_block_content_not_fount p{
	font-size:18px;
	color:#000000;
}
/* 맛집리스트 영역 */

/* 맛집리스트 상세 영역 */
.top_view_sub_title{
	text-align:center;
}

.top_view_sub_title h2{
	color:#000000;
	font-size:46px;
	margin-top:25px;
	font-weight:500;
}

.top_view_sub_title span{
	display:inline-block;
	margin-top:110px;
	color:#F63805;
	font-size:20px;
	font-weight:500;
}

.food_detail_new_img_content{
	margin:50px 10px 10px 10px;
}

.food_detail_new_img_content img{
	width:320px;
}

.food_detail_all_content, .food_detail_new_img_content{
	display:flex;
}

.food_detail_content{
	background-color:#fff;
	margin:10px;
	padding:30px 25px;
	width:410px;
	border-radius:10px;
}

.food_detail_content th{
	font-size:16px;
	font-weight:500;
	color:#000000;
	padding:8px;
	text-align:left;
}

.food_detail_content td{
	padding-left:20px;
	font-size:14px;
}

.food_detail_menu_title{
	text-align:center;
}

.food_detail_menu_title h3{
	color:#000000;
	font-weight:500;
	font-size:20px;
}

.food_detail_menu{
	text-align:center;
	margin-top:20px;
}

.food_detail_menu p{
	font-size:17px;
	padding:5px;
	color:#000000;
}

.food_detail_back_btn{
	text-align:center;
	margin-top:70px;
}

.comment_list_title{
	margin-top:60px;
	padding:15px 10px;
	border-bottom:1px solid #000000;
}

.comment_list_title h2{
	font-size:25px;
	color:#000000;
	font-weight:500;
}

.title_box{
	display:inline-block;
}

.comment_list_title a{
	padding-left:875px;
	text-align:right;
	font-weight:600;
	font-size:16px;
}

.title_box span{
	font-size:14px;
	color:#696969;
	font-weight:500;
	margin-left:10px;
}

.title_box i{
	margin-right:7px;
}

.title_box a{
	cursor:pointer;
}

.commtent_list_box{
	padding:50px 20px;
	display:-webkit-flex;
}

.commtent_my_content{
	display:-webkit-flex;
}

.commtent_my_info img{
	border-radius:100px;
	width:80px;
	height:80px;
}

.commtent_my_info h3{
	text-align:center;
	margin-top:10px;
	color:#000000;
	font-weight:500;
	font-size:16px;
}

.not_comment{
	margin-top:60px;
	text-align:center;
	font-size:16px;
	color:#696969;
}

.commtent_my_content{
	margin-left:50px;
}

.commtent_my_content span{
	font-size:14px;
}

.commtent_my_content p{
	margin-top:10px;
	font-size:15px;
	color:#000000;
}

.comment_img_box{
	margin-top:30px;
}

.comment_img_box img{
	width:267px;
	height:210px;
	margin-right:10px;
}

.commtent_list_box{
	border-bottom:1px solid rgba(000,000,000,.1);
}

.food_review_all_btn{
	text-align:center;
	margin-top:10px;
}

.food_review_all_btn button{
	border-radius:30px;
	font-size:12px;
	width:40px;
	height:25px;
}

/* 맛집리스트 상세 영역 */

/* 맛집신청 영역 */
.step_box_one{
	display: inline-block;
	background-color:#fff;
	border-radius: 10px;
	padding:30px;
	margin:5px;
	text-align:center;
	width:257px;
}

.step_box_one h2{
	color:#000;
	font-size:25px;
	font-weight: 600;
}

.step_box_one i{
	font-size:45px;
	margin-top:20px;
	color:#000;
}

.step_box_one p{
	font-size:15px;
	margin-top:15px;
	color:#656565;
}

#step_col{
	color:#F63805;
}


.from_content_box .form_content .form_tb_all textarea{
	border-radius:10px;
	background:transparent;
	color:#696969;
	width:800px;
	height:200px;
	line-height:47px;
	border:1px solid rgba(0,0,0,.2);
	padding:0 20px;
	box-sizing:border-box;
	color:#000000;
}

.from_content_box .form_content .form_tb_all textarea:focus{
	outline:none;
}

.from_content_box .request_title_top{
	margin-top:60px;
}

.request_notice{
	margin-top:10px;
}

.request_notice p{
	color:#F63805;
	font-size:13px;
}

#request_address_form{
	width:545px;
}

/* 맛집신청 영역 */

/* 관리자 마이페이지 */
.top_info_box{
	background-color:#fff;
	border-radius:10px;
	height:200px;
	padding:30px;
}

.info_content_box img{
	width:150px;
	height:150px;
	margin:25px 0px 0px 135px;
	border-radius:100px;
}

.info_content_box{
	float:left;
}

.info_content_box_gride{
	margin:65px 0px 10px 50px;
	text-align:center;
}

.info_content_box p{
	font-size:20px;
	margin-bottom:25px;
	color:#000000;
}

.info_content_box span{
	font-weight:500;
	color:#000000;
}

.info_content_box button{
	border:1px solid #dddbd8;
	background-color: #faf9f5;
	width:150px;
	height:35px;
	border-radius:30px;
	margin-right:5px;
	cursor:pointer;
}

.info_content_list{
	margin-top:70px;
}

.info_content_list_title h2{
	font-weight: 500;
	font-size:24px;
	color:#000000;
}

.info_content_list_title span{
	margin-left:20px;
	font-size:15px;
	color:#484848;
}

.info_content_list_title{
	display:inline-block;
}

.more_button_text{
	float:right;
	display:block;
	cursor:pointer;
}

.more_button_text i{
	margin-left:10px;
}

.info_list_table{
	width:990px;
	table-layout: fixed;
	color:#000000;
	margin-top:15px;
	border-top:1px solid #000000;
}

.info_content_all_table th{
	height:45px;
	border-bottom:1px solid #dbdbdb;
	font-size:14px;
	font-weight:500;
	padding:10px;
}

.info_content_all_table td{
	height:45px;
	padding:10px;
	font-size:13px;
	text-align:center;
	border-bottom:1px solid #dbdbdb;
	
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
}

.info_list_table button{
	border-radius:30px;
	width:60px;
	height:30px;
	margin-right:5px;
	font-size:12px;
}

.request_view, .food_review_modify{
	background-color:#F63805;
	border:1px solid #F63805;
	color:#fff;
	cursor:pointer;
}

.request_view_modify{
	background-color:#fff;
	border:1px solid #F63805;
	color:#F63805;
	cursor:pointer;
}

.request_fail{
	border:1px solid #dddbd8;
	background-color:#dddbd8;
	color:#fff;
	cursor:pointer;
}

.request_del, .food_review_del{
	background:none;
	border:1px solid #F63805;
	color:#F63805;
	cursor:pointer;
}
/* 관리자 마이페이지 */

/* 페이징 처리 */
.paging{
	margin-top:50px;
	text-align:center;
}

.paging .select,.active{
	display:inline-block;
}

.paging .select a{
	line-height:40px;
	display:block;
	border:1px solid #F63805;
	width:40px;
	height:40px;
	border-radius:100px;
	margin:5px;
	font-size:15px;
	color:#F63805;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.paging .select a:hover{
	background: #F63805;
	border-color: #F63805;
	color: #fff;
}

.paging .active a{
	line-height:40px;
	display:block;
	border:1px solid #F63805;
	background:#F63805;
	color:#fff;
	width:40px;
	height:40px;
	border-radius:100px;
	margin:5px;
	font-size:15px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
/* 페이징 처리 */

/* 맛집 신청 확인 페이지 */
.view_info_content{
	margin-top:15px;
	border-top:2px solid #000000;
	padding-top:40px;
}

.form_tb_all select{
	border-radius:30px;
	width:200px;
	height:47px;
	padding:0 20px;
	background:none;
	border:1px solid rgba(0,0,0,.2);
}

.form_tb_all select:focus{
	outline:none;
}

#state_form, #category_form{
	width:200px;
	margin-right:10px;
}

.form_tb_all img{
	width:150px;
	height:150px;
	margin:0 5px 8px 0;
}
/* 맛집 신청 확인 페이지 */

/* 운영진 계정 수정 페이지 */
#pw_modify_btn, #img_modify_btn{
	background:#000000;
	color:#fff;
	width:160px;
	font-weight:600;
	margin-left:0px;
}

#pw_modify_btn:hover, #img_modify_btn:hover{
	background:#fff;
	color:#000000;
	transition:all 0.5s ease;
}

.join_modify_form_pw, .join_modify_form_img{
	float:left;
}

.pw_modify_all_box, .join_modify_form_img_all{
	margin-top:20px;
}

.join_modify_form_pw, .join_modify_form_img{
	font-size:15px;
	color:#000000;
	line-height:55px;
}

#join_form_pw{
	margin-right:30px;
}

#pw_all{
	margin-top:8px;
}

#join_form_pw{
	margin-right:60px;
}

#join_form_pw_check, #join_form_img{
	margin-right:30px;
}
/* 운영진 계정 수정 페이지 */

/* 회원 맛집신청 확인 페이지 */
.info_content_list_title .confirm_fix_text{
	color:#F63805;
}
/* 회원 맛집신청 확인 페이지 */

/* 삭제 팝업 */
#popup {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	position: fixed; 
	top: 0; left: 0; 
	width: 100%;
	height: 100%; 
	background: rgba(0, 0, 0, .7); 
	z-index: 1; 
}

#popup.hide {
	display: none;
}

#popup .content{
	text-align:center;
	background: #fff; 
	border-radius: 10px; 
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	padding:50px 50px 30px 50px;
	width:300px;
	height:200px;
}
/********/
#popup_e {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	position: fixed; 
	top: 0; left: 0; 
	width: 100%;
	height: 100%; 
	background: rgba(0, 0, 0, .7); 
	z-index: 1; 
}

#popup_e.hide {
	display: none;
}

#popup_e .content{
	text-align:center;
	background: #fff; 
	border-radius: 10px; 
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	padding:50px 50px 30px 50px;
	width:300px;
	height:200px;
}
/********/
#u_r_popup {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	position: fixed; 
	top: 0; left: 0; 
	width: 100%;
	height: 100%; 
	background: rgba(0, 0, 0, .7); 
	z-index: 1; 
}

#u_r_popup.hide {
	display: none;
}

#u_r_popup .content{
	text-align:center;
	background: #fff; 
	border-radius: 10px; 
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	padding:50px 50px 30px 50px;
	width:300px;
	height:200px;
}
/********/
#r_del_popup {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	position: fixed; 
	top: 0; left: 0; 
	width: 100%;
	height: 100%; 
	background: rgba(0, 0, 0, .7); 
	z-index: 1; 
}

#r_del_popup.hide {
	display: none;
}

#r_del_popup .content{
	text-align:center;
	background: #fff; 
	border-radius: 10px; 
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	padding:50px 50px 30px 50px;
	width:300px;
	height:200px;
}
/********/
#review_popup {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	position: fixed; 
	top: 0; left: 0; 
	width: 100%;
	height: 100%; 
	background: rgba(0, 0, 0, .7); 
	z-index: 1; 
}

#review_popup.hide {
	display: none;
}

#review_popup .content{
	text-align:center;
	background: #fff; 
	border-radius: 10px; 
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	padding:30px 50px 40px 50px;
	width:300px;
	height:250px;
}

#join_guide{
	margin-top:15px;
}

#join_guide span, #join_guide i{
	font-size:14px;
	color:#000000;
}
/********/
#r_write_popup {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	position: fixed; 
	top: 0; left: 0; 
	width: 100%;
	height: 100%; 
	background: rgba(0, 0, 0, .7); 
	z-index: 1; 
}

#r_write_popup.hide {
	display: none;
}

#r_write_popup .content{
	background: #fff; 
	border-radius: 10px; 
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	padding:50px 50px 30px 50px;
	width:500px;
	height:435px;
}

#r_write_popup p{
	text-align:center;
}

#r_write_popup span{
	font-size:14px;
}
/********/
#r_write_popup .content textarea{
	width:500px;
	height:200px;
	margin-top:30px;
	padding:10px;
	border-radius:10px;
	background:transparent;
	color:#696969;
	border:1px solid rgba(0,0,0,.2);
	box-sizing:border-box;
}

#r_write_popup .content textarea:focus{
	outline:none;
}

#r_write_popup .content input{
	text-align:left;
}

#r_write_popup .popup_btn{
	margin-top:20px;
}
/********/
.popup_title{
	font-size:25px;
	color:#1C1C1C;
	font-weight:700;
	margin-bottom:30px;
	text-align:center;
}

.content i{
	margin-right:6px;
}

.content p{
	color:#000000;
	font-size:16px;
	line-height:23px;
}

.content span{
	font-size:16px;
	color:#F63805;
	line-height:30px;
}

.popup_btn{
	text-align:center;
	margin-top:20px;
}

.popup_btn button{
	border:1px solid #F63805;
	border-radius:30px;
	width:100px;
	height:35px;
	cursor:pointer;
}

#btn_login_go{
	border:1px solid #F63805;
	border-radius:30px;
	background-color:#F63805;
	color:white;
	margin-top:15px;
	width:250px;
	height:40px;
	cursor:pointer;
	font-size:14px;
}

#btn_join_go{
	border:1px solid #F63805;
	border-radius:30px;
	background-color:#fff;
	color:#F63805;
	width:250px;
	height:40px;
	cursor:pointer;
	font-size:14px;
}

#review_popup .review_close{
	background:none;
	border:none;
	font-size:25px;
	margin-left:270px;
	cursor:pointer;
	color:#696969;
}

.popup_btn #btn_e_del, #btn_suceess, #btn_r_del{
	background-color:#F63805;
	color:white;
	margin-right:5px;
}

.popup_btn #btn_close{
	background:none;
	color:#F63805;
}

.form_tb_all .request_img_view{
	height:200px;
}
/* 삭제 팝업 */